
{% extends "base.html.twig" %} 
{% block titre %} 
<div style="background-color: #212121;width:1000px" class="row mt-5">
    <div class="col-11">
  Salons
    </div>
    <div class="col-1">
    <i style="opacity: 0.8;" class="fas fa-comments"></i>
    </div>
</div>

{% endblock %}
{% block contenue %}

    <section class="featured-places">
        <div class="container">
            <div class="row">

            {%  for liste in liste %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="bg-dark ">
                            <img src="/images/{{liste.image}}"class="card-img-top"><p style="opacity: 0.8;"> {{film.titre}}</p>

                            <p><span><strong><sup>$</sup>{{liste.description}}</strong> - <strong><sup>$</sup>400.00</strong></span></p>

                            <div class="text-button">
                                 <a href="/salon?username={{user.username}}&&room={{liste.nom}}">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}