{% extends "base.html.twig" %} 
{% block titre %} 
<div style="background-color: #212121;width:1000px" class="row mt-5">
    <div class="col-11">
    Acteurs
    </div>
    <div class="col-1">
    <i style="opacity: 0.8;" class="fas fa-mask"></i>
    </div>
</div>
{% endblock %}
{% block contenue %}
<div class="container" style="width:1800px;padding:5px; height:1000px">
    <div class="container" style="width:1000px; float:left; background-color: #212121">
        {% if noMatch != null  %}
            <h3 class="text-light">{{ noMatch }}</h3>
            {% endif %}
        <div class="row row-cols-1 row-cols-md-4" id="pagination">
                {%  for acteur in listeacteur %}
            <div class="col mb-4">
                <div class="card" style="background-color:#212121;border:none">
                        <a style=" text-decoration: none;"href="/acteurs/{{acteur._id}}">
                    <img src="/images/{{acteur.image}}"class="card-img-top"><p style="opacity: 0.8;"> {{acteur.nom}}--{{acteur.prenom}}</p>
                        </a>
                </div>
            </div>
            {% endfor %}    
        </div>
            <center><div class="pagination" style="display: inline-block;">
            <button type="button" style="background-color:#ff6e40;opacity: 0.9;color:white" class="btn " onclick="precedent();">Retour</button>
            <button type="button" style="background-color:#ff6e40;opacity: 0.9;color:white" class="btn " onclick="suivant();">Suivant</button>
                        
        </div></center><br>

    </div>

    <div style=" background-color: #212121;margin-left:1060px;width:280px;height: 800px">
        <div class=""><center><h6 style=" color:white; background-color: #100511;">  &emsp; &emsp;</div><br>
        <div class=""><center><h6 style="color:white;"><i style="color: #ff6e40;height:50px;opacity: 0.8;"class="fas fa-grip-lines-vertical"></i></i>&ensp;FILM PAR CATÉGORIES  &emsp; <i class="fas fa-photo-video"></i></h6></center></div><br>
        <div class="filtre row">
        {% for categorie in listecategorie %}
            <div class="mt-2 col-6">
                <a style=" margin-left:20px;" href="/categories/{{categorie.id}}"> {{categorie.libelle}}</a>
            </div>
        {% endfor %} 
        </div>
        <div class=""><center><h6 style=" color:white; background-color: #100511;">  &emsp; &emsp;</div><br>
        <div class=""><center><h6 style="color:white; "><i style="color: #ff6e40;height:50px;"class="fas fa-grip-lines-vertical"></i>&ensp;FILMS PAR ANNÉE  &emsp; <i class="fas fa-photo-video"></i></h6></center></div><br>
        <div class="filtre row">
        {% for annees in listeannee %}
            <div class="mt-2 col-4">
                <a style=" margin-left:20px;" href="/annees/{{annees.id}}"> {{annees.annee}}</a>
            </div>
        {% endfor %}   
        </div>
    </div>     
</div>
    <script>
        var start =0;
        var limit = 1;
        function suivant(){
            start = start+limit;
            $.ajax({
                url : "/acteurs/"+start+"/"+limit,
                method:"GET",
                success: function(
                    reponse
                ){
                     console.log('bonjour');
                    console.log(reponse);
                    affichage_acteurs(reponse);
                }
            });
        }

        function precedent(){
            start = start-limit;
            $.ajax({
                url : "/acteurs/"+start+"/"+limit,
                method:"GET",
                success: function(
                    reponse
                ){
                    console.log(reponse);
                    affichage_acteurs(reponse);
                }
            });
        }


        function affichage_acteurs(acteurs){
            
            if(acteurs.length> 0){    
                var html = "";
                for(var a= 0; a < acteurs.length; a++ ){

                    html+='<div class="row row-cols-8 row-cols-md-4" id="pagination">';
                            html+='<div class="col mb-4" style="width:100%">';
                                html+='<div class="card" style="background-color:#170B22;">';
                                        html+='<a href="/acteurs/'+acteurs[a]._id+'">';
                                   html+=' <img src="/images/'+acteurs[a].image+'"class="card-img-top">"'+acteurs[a].nom+'"';
                                        html+='</a>';
                               html+=' </div>';
                           html+=' </div>';
                    html+='</div>';
                    console.log(acteurs[a].images);
                }
                $('#pagination').html(html);
            }
            console.log('bonjour');
        }
    </script> 
   
{% endblock %}
