{% extends "base.html.twig" %} 
{% block titre %} {% endblock %}
{% block contenue %}

<div class="container">
    <div class="row" style="background-color:#212121">
        <div class="col-md-5 mt-3">
            <div>
                <img alt="Web Studio" class="img-fluid" src="/images/{{film.image}}" />
            </div>
        </div>
        <div class="col-md-7  mt-5">
            <div class="acteur_style">
                <h2 style="color:  white; font-weight: bold; " >{{film.titre}}</h2><br>
                <h4 class="mb-2" style="color: white;"> Synopsy </h4>
                <p class="margin-top-s" style="color: #BDBDBD; font-size: 20px;">
                {{film.synopsys}}
                </p> <br>
                 <h5  style="color:white;" > Categories:&ensp;{{film.categorie.libelle}}&emsp;&emsp;&emsp;&emsp;Durée:&ensp;{{film.duree}}</h5><br>
                <h5  style="color:white;text-decoration:none;" > Acteur : <a  href="/acteurs/{{film.acteur[0]._id}}"> {{film.acteur[0].nom}} - {{film.acteur[0].prenom}} </a> &emsp;
                <a  href="/acteurs/{{film.acteur[1]._id}}"> {{film.acteur[1].nom}} - {{film.acteur[1].prenom}} </a>
                </h5><br>
                <h5  style="color:white;" > Pays:&ensp;{{film.Pays}}&emsp;&emsp;&emsp;&emsp; Réalisateur:&ensp;{{film.Realisateur}}</h5><br>
            </div><br>
                
                <div class="col-8 mb-5">
                    <p class="col-8">
                        <i class="fa fa-eye text-light"></i>
                            {{film.view}} views&emsp;&emsp;&emsp;&emsp; {% include "/like-dislikes.twig" %}                 
                    </p>
                </div>
                <center><button type="button" class="mb-3 cBtnYouTube btn button1" data-bs-toggle="modal" data-bs-target="#oModalYouTube" data-url="{{film.Bdannonce}}" data-titre="{{film.titre}}">Regarder </button></center> 
                <div class="modal fade" id="oModalYouTube" tabindex="-1" aria-labelledby="oModalYouTubeTitre" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content rounded-0">
                            <div class="modal-header rounded-0 border-0" style="color:#fff;background-color:#000">
                                <p id="oModalYouTubeTitre" class="modal-title lh-1"></p>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fermer"></button>
                            </div>
                            <div class="modal-body p-0">
                                <div class="ratio ratio-16x9">
                                <iframe id="oVideoYouTubeiFrame" src="" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<br><br> 
<input type="hidden" id="film_id" value="{{film._id}}">

<div class="main1">
<div class="row d-flex justify-content-center  ">
    <div class="col-9">
         <section class="popular-places" id="popular">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2 class="mb-5 mt-2 text-light text-center" >Films similaires</h2>
                        </div>
                    </div> 
                </div> 

                <div class="owl-carousel owl-theme">
                    {% for film in categorie.films %}
                        <div class="item popular-item">
                            <div class="thumb">
                            <a href="/films/{{film._id}}">
                                <img src="/images/{{film.image}}" alt="">
                            </a>
                            </div>
                            <div class="text-white  text-content">
                                <h4>{{film.titre}}</h4>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div>
        </section>

    </div>
</div>

  

 <script>
    document.addEventListener('DOMContentLoaded', function() {
      var oModalYouTubeElement = document.getElementById('oModalYouTube')
      oModalYouTubeElement.addEventListener('hide.bs.modal', function (event) {
        document.getElementById('oModalYouTubeTitre').innerHTML = '';
        document.getElementById('oVideoYouTubeiFrame').setAttribute('src', '');
      })
    });
    
    window.addEventListener("DOMContentLoaded", function(e) {
     	x = document.getElementsByClassName("cBtnYouTube");
     	var i;
         for (i = 0; i < x.length; i++) {
           x[i].addEventListener("click", 
           function (event) {
              event.preventDefault();
              document.getElementById('oModalYouTubeTitre').innerHTML = '<i class="fab fa-youtube"></i> '+this.getAttribute('data-titre');
              document.getElementById('oVideoYouTubeiFrame').setAttribute('src', this.getAttribute('data-url'));
           }, 
           false);
         }
     }, false);
    </script>
  
{% endblock %}
    <script src="javascript/main.js"></script>

