{% extends "base.html.twig" %} 
{% block titre %}{% endblock %}
{% block contenue %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div>
            <img alt="Web Studio" class="img-fluid" src="/images/{{evenement.image}}" />
            </div>
        </div>
        <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
            <div>
                <h2 style="color:  white; font-weight: bold; " >&emsp;&emsp;&emsp; {{evenement.titre}}</h2><br>
                 <br>
                 <h5 style="color: white;">Date :&emsp; {{evenement.dateDeb |date("d/m/Y")}} - {{evenement.dateFin |date("d/m/Y")}} </h5>
                 <h5 class="mt-4" style="color: white;">Lieu :&emsp;{{evenement.lieu}} </h5>
                 <h5 class="mt-4 " style="color:  white;text-decoration: none;" > Acteur : <a  style="text-decoration: none;" href="/acteurs/{{evenement.acteur[0]._id}}"> {{evenement.acteur[0].nom}} - {{evenement.acteur[0].prenom}} </a> -
                <a  href="/acteurs/{{evenement.acteur[1]._id}}"> {{evenement.acteur[1].nom}} - {{evenement.acteur[1].prenom}} </a>
                </h5><br>
                <h4  style="color: white;">Description </h4>
                <p class="margin-top-s" style="color: #BDBDBD; font-size: 20px;">
                {{evenement.description}}
                </p> <br>
               
                
            </div><br>
        </div>
    </div>
</div>
<br><br> 



  


{% endblock %}
  <script src="javascript/main.js"></script>

