{% extends "base.html.twig" %} 
{% block titre %}{{evenement.titre}} {% endblock %}
{% block contenue %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
            <img alt="Web Studio" class="img-fluid" src="/images/{{evenement.image}}" />
            </div>
        </div>
        <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
            <div>
                <h2 style="color:  #ff0062; font-weight: bold; " >{{evenement.titre}}</h2><br>
                <h3  style="color:  #ff0062;" > Acteur : <a href="/acteurs/{{evenement.acteur[0]._id}}"> {{evenement.acteur[0].nom}} - {{evenement.acteur[0].prenom}} </a> -
                <a href="/acteurs/{{evenement.acteur[1]._id}}"> {{evenement.acteur[1].nom}} - {{evenement.acteur[1].prenom}} </a>
                </h3><br>
                <h4  style="color: #ff0062;">Description </h4>
                <p class="margin-top-s" style="color: #BDBDBD; font-size: 20px;">
                {{evenement.description}}
                </p> <br>
                <h4  style="color: #ff0062;">Lieu </h4>
                <p class="margin-top-s" style="color: #BDBDBD; font-size: 20px;">
                {{evenement.lieu}}
                </p> <br>
              <h4  style="color: #ff0062;">Date : </h4>
                <p class="margin-top-s" style="color: #BDBDBD; font-size: 20px;">
                {{evenement.dateDeb |date("d/m/Y")}} - {{evenement.dateFin |date("d/m/Y")}} 
                </p> <br>
                
            </div><br>
        </div>
    </div>
</div>
<br><br> 



  


{% endblock %}
  <script src="javascript/main.js"></script>

